@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui' {
  include: toggle, btn;
}

@theme {
  /* Fonts */
  --font-mono: 'DotGothic16', monospace;
  --font-sans: 'Reddit Sans', sans-serif;
  /* Colors */
  --color-midnight: #070810;
  --color-deep-ocean: #18284a;
  --color-glacier-blue: #52a5de;
  --color-frost-blue: #acd6f6;
  --color-ice-white: #ebf9ff;
  --color-deep-slate: #2e364d;
  --color-mute-steel: #425d87;
  --color-soft-periwinkle: #7d95de;
  --color-pale-laveder: #ddc8f9;
  --color-mint-white: #fbfef9;
}
